%h1 Create your article here
%div{ :class => 'articles-form' }
  = form_for :article, url: articles_path do |f|
    - if @article.errors.any?
      %div{ :class => 'form-error' }
        - @article.errors.full_messages.each do |msg|
          %p= msg
    = f.label :author
    = f.text_field :author
    %br
    = f.label :title
    = f.text_field :title
    %br
    = f.label :text
    = f.text_area :text
    %br
    = f.submit