%div{ :class => 'article-list' }
  %section{ :class => 'article-container' }
    %header= @article.title
    %p= @article.author
    %div{ :class => 'article-body' }
      %p= @article.text
= link_to "Add Article", new_article_path
= link_to "Edit Article", edit_article_path
= link_to "Destroy Article", article_path(@article), method: :delete,
          data: { confirm: 'Are you sure?' }

= render 'comments/comment'
= render 'comments/show'

